body {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 0px;
}


/*"Genesis" styling*/

#logo-name {
    letter-spacing: 0.2cap;
}


/*"Verified Entrepreneurs Workplace" styling*/

.logo-state {
    font-size: medium;
}


/*navigators' styling*/

.nav-links {
    list-style: none;
    display: flex;
    gap: 19px;
    font-size: 15px;
    text-decoration: none;
    text-align: end;
}

#expl-link {
    text-decoration: none;
    color: black;
}

#expl-link:hover {
    color: blue;
}


/*Button styling */

.Verify-btn {
    background-color: yellow;
    border-radius: 8px;
    padding: 7px 11px;
    border-style: none;
    font-size: medium;
    cursor: pointer;
}

#Verify-link {
    text-decoration: none;
    border: none;
    outline: none;
}

.Verify-btn:hover {
    background-color: aqua;
}


/*It has the navigators along with the "Genesis" name*/

.nav-dividor {
    display: flex;
    gap: 800px;
    background-color: rgb(239, 239, 208);
    align-items: baseline;
}